@font-face {
    font-family: Montserrat;
    src: url("../data/fonts/Montserrat-Medium.ttf");
}

input:focus, textarea, select, button {
    outline: none !important;
}

button {
    cursor: pointer;
}

/* Войти */

.login {
    position: absolute;
    width: 30%;
    height: 64%;
    left: 35%;
    top: 18.6%;
    background: #85B7B4;

    border: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.25);

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 3.6vw;
    line-height: 61px;
    text-align: center;

    color: #FFFFFF;
}


/* Rectangle 6 */

#email {
    position: absolute;
    width: 75%;
    height: 12%;
    left: 12.5%;
    top: 40%;

    border: 0px;
    border-radius: 6px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 37px;
    align-items: center;
    text-align: left;

    background: #FFFFFF;
}

/* Rectangle 7 */
#password {
    position: absolute;
    width: 75%;
    height: 12%;
    left: 12.5%;
    top: 60%;

    border: 0px;
    border-radius: 6px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 37px;
    align-items: center;
    text-align: left;

    background: #FFFFFF;
}

#back {
    position: absolute;
    width: 40%;
    height: 15%;
    left: 7%;
    top: 82%;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 35px;

    background: #85B7B4;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 37px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#next {
    position: absolute;
    width: 40%;
    height: 15%;
    left: 53%;
    top: 82%;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 35px;

    background: #85B7B4;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 37px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}