<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать вариант</title>
    <link rel="stylesheet" href="css/create.css">
</head>
<body>
<div id="header">
    <button id="back">
        Назад
    </button>
    <p id="task-number">Задание №1</p>
</div>
<div id="task-info">
    <label for="task-text"></label><textarea id="task-text" placeholder=" Текст задания"></textarea>
    <label for="answer"></label><input id="answer" placeholder=" Ответ"/>
</div>
<div id="annex">
    <p id="annex-title">Приложение:</p>
    <div id="annexes">
    </div>
    <button id="annex-button" onclick="show_popup()">Прикрепить файл</button>
</div>
<div class="popup" id="popup" onclick="hide_popup()">
    <div id="popup-content">
        <div id="on-pc-block">
            <input type="file" id="pc-file" style="display: none" oninput="upload_file()">
            <a id="on-pc" onclick="document.getElementById('pc-file').click()" href="#">
                <img src="../photos/pc.png" id="pc-image"/>
                <p id="pc-text">С компьютера</p>
            </a>
        </div>
        <div id="on-files-block">
            <a id="on-files" onclick="">
                <img src="../photos/files.png" id="files-image">
                <p id="files-text">Из файлов</p>
            </a>
        </div>
    </div>
</div>
<div id="buttons">
    <button id="show" onclick="">Предпросмотр</button>
    <button id="exit">
        Завершить
    </button>
    <button id="next" onclick="next()">Далее</button>
</div>
<script src="js/menu.js"></script>
</body>
</html>