<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Приложение-тестировщик</title>
</head>
<body>
<div>
    <p class="add">*тут могла бы быть ваша реклама*</p>
</div>
<div>
    <h3 class="title">
        Крутое название, которое я ещё не придумал
    </h3>
</div>
<div>
    <a href="./login.html">
        <button class="login">
            Вход
        </button>
    </a>
    <a href="./signup.html">
        <button class="signup">Регистрация</button>
    </a>
</div>
</body>
</html>